DATA = [
    {
        user: "root",
        password: "1234",
        database: "auth_test",
        host: "127.0.0.1",
        port: 3306
    },
    {
        CLIENTID: "your_id",
        CLIENTSECRET: "your_secret"
    },
    {
        HASH: "TestKey"
    }
]

module.exports = DATA